$font-size :("desktop": 22px, "tab": 16px, "mobile":  12px);

@mixin br($top: 30px, $right:50px, $bottom:80px, $left:120px){
  -webkit-border-radius:$top $right $bottom $left;
  -moz-border-radius:$top $right $bottom $left;
  border-radius:$top $right $bottom $left;
}



@mixin flexCommon ($flex_direction:column, $align-items:center, $justify_content:center){
  display: flex;
  flex-direction:$flex-direction;
  align-items: $align-items;
  justify-content: $justify_content;
}

@mixin border-color($width: 10px, $color:pink){
  border: $width solid $color;
}