@import url('https://fonts.googleapis.com/css2?family=Georama:wght@400;500&display=swap');
@import "mixin";

$font-size :("desktop": 22px, "tab": 16px, "mobile":  12px);

@mixin br($top: 30px, $right:50px, $bottom:80px, $left:120px){
  -webkit-border-radius:$top $right $bottom $left;
  -moz-border-radius:$top $right $bottom $left;
  border-radius:$top $right $bottom $left;
}



@mixin flexCommon ($flex_direction:column, $align-items:center, $justify_content:center){
  display: flex;
  flex-direction:$flex-direction;
  align-items: $align-items;
  justify-content: $justify_content;
}

@mixin border-color($width: 10px, $color:pink){
  border: $width solid $color;
}

body{font:400 16px 'Georama', sans-serif;}

.myclass{@include flexCommon(row); @include border-color(); @include br(); font-size:map-get($font-size, desktop); height: 400px;}

